page-register {
  p {
    font-size: 120%;
  }
  p.header {
    font-weight: bold;
  }
  p.info {
    padding-left: 30px;
  }
  ion-item {
    float: left;
  }
  .item-select select
  {
    right: auto;
    padding: 13px 45px 15px 0px;
    direction: ltr;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  div {
    text-align: center;
    margin: auto;
  }
}