<!-- 
    <ion-header>
    <ion-navbar>
        <ion-title class="center">Event list</ion-title>
    </ion-navbar>
</ion-header>
-->

<ion-content padding>
    <ion-note class="center">
        <p class="center">Your position: {{myAddress}}</p>
    </ion-note>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
        <ion-list-header>
            My events
        </ion-list-header>
        <!--<ion-label >- Keine Events gefunden -</ion-label>-->
        <ion-item *ngFor="let item of myEventsSearch" (click)="itemSelected(item)">
            <h2>{{item.$title}}</h2>
            <p>{{item.$starttimepoint}} by <b>{{item.$creator}}</b></p>
            <h3>{{mySplit(item.$keywords)}}</h3>
            <ion-note item-right>{{getSubscriberCount(item.$subscriber)}}</ion-note>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>
            All events
        </ion-list-header>
        <!--<ion-label >- No events found -</ion-label>-->
        <ion-item *ngFor="let item of allEventsSearch" (click)="itemSelected(item)">
            <h2>{{item.$title}} </h2>
            <p>{{item.$starttimepoint}} by <b>{{item.$creator}}</b></p>
            <h3>{{mySplit(item.$keywords)}}</h3>
            <ion-note item-right>{{item.$distA}} km</ion-note>
        </ion-item>
    </ion-list>
</ion-content>