<!--
  Generated template for the ListView page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>listView</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-label>Meine Events</ion-label>
<ion-list>
  <button ion-item *ngFor="let item of items1" (click)="itemSelected(item)">
    {{ item }}
  </button>  
</ion-list>
<ion-label>Events Teilnahme</ion-label>
<ion-list>
  <button ion-item *ngFor="let item of items2" (click)="itemSelected(item)">
    {{ item }}
  </button>  
</ion-list>
</ion-content>
